.tile {
    background-color: white;
    opacity: 0.8;
    border: 1px black solid;
    text-align: center;
    margin: 0;
    position: relative;
    float: left;
    margin-right: 10px;
    padding: 10px 20px 10px 0;
    color: black;
    
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}