.tile {
    background-color: white;
    opacity: 0.8;
    border: 1px black solid;
    text-align: center;
    padding: 10% 0;
    margin: 0;
    position: relative;
}

.tile figcaption {
    opacity: 0;
    background-color: white;
    padding-top: 25%;
    position: absolute;
    inset: 0;
    color: #ffffff;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.tile:hover figcaption {
    opacity: 1;
}

.tileIcon {
    color: black;
    width: 50%;
    margin: auto;
}

.tileIcon .tileIconImage {
    max-height: 73px;
    height: auto;
}

.tileLabel {
    margin-top: 5px;
    color: black;
    text-align: center;
    font-size: 100%;
}